{% load static from staticfiles %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title></title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock css %}
    <script type="text/javascript" src="{% static 'js/zepto.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/backbone-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/backbone-tastypie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

    <!-- Templates -->

    <script type="text/template" id="post-template">
        <div class="view" >
            <span class="text"><%= text %></span>
            <input type="text" class="edit_text" value="<%= text %>" style="display:none">
        </div>
    </script>

</head>
<body>
{% block body %}
<div id="content">
    <input type="text" id="new_post" />
    <div id="feed"></div>
</div>
{% endblock body %}
</body>
</html>
